## SQLite

![SQLite logo](https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/SQLite370.svg/320px-SQLite370.svg.png)

----------------------------------
sqlite3 Python documentation


https://docs.python.org/3.7/library/sqlite3.html


The sqlite3 Python package documentation page.

-------------------------------------------

### Databases

![MySQL client](https://upload.wikimedia.org/wikipedia/commons/d/dd/Mysql-screenshot.PNG)


People use the term database to sometimes mean:
* The data set itself.
* A program that manages datasets.
* The computer that runs the program.

A database is not a particular dataset but a theoretical idea of a dataset thats well structured? Well, databases are really just efficient ways of storing data/info.

-----------------

### Purposes

* Persistent storage.
* Fast data storage and retrieval algorithms.
* Dealing with multi-user conflicts.

---------------------

### Types

![Relational database table](https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/DVD_Rental_Query.png/554px-DVD_Rental_Query.png)

* Relational databases where data are structured in tables.
* NoSQL databases with no particular structure.
* Relational versus all other types, because relational are historically the most common.
    
----------------------

### Many tables 

![SQL join](https://i2.wp.com/ramkedem.com/wp-content/uploads/2015/08/sql_inner_join.png?w=600)

* Excel is great for single table scenarios.
* Gets a little clunky when you have two or more tables that are related.


Only two types of databases: Relational (narrow but v popular, e.g. MySQL) or NOSQL types. Relational databases are great at working with and merging the tables together and using various functions. Excel spreadsheets can only handle smaller datasets. Whereas a database system is much faster and up to the job.

-------------------------



### Connections

* Database server/management system is a program running on some machine.
* Access it by knowing the connection details, supplied by the database administrator.
* Typcially need database type, IP address, port, username, password, database name.

In [ ]:
import mysql.connector
cnx = mysql.connector.connect(user='scott', password='password',
                              host='127.0.0.1',
                              database='employees')
cnx.close()

### SQLite

* Simple database that runs in memory.
* Not really a separate program/process/software - it's part of your program.
* Uses the SQL language.

### SQL

* Structured Query Language.
* Simple syntax.
* State what you want, not how to get it.
* CRUD: Create, Retrieve, Update, Delete.

In [ ]:
CREATE TABLE person(id AUTOINCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255));
    INSERT INTO person VALUES("Joe Bloggs", "Galway");
    SELECT name FROM person;
    UPDATE person SET address="Sligo" WHERE name="Joe Bloggs";
    DELETE FROM person WHERE name="Joe Bloggs";
    DROP TABLE person;

### Join in pandas